body{
    /* background-color: aqua; */
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.container-fluid{
    background-color: white;
}
a{
    text-decoration: none;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222;
}
/* .navbar.expanded {
  background-color: white !important;
  transition: background-color 0.3s ease;
}
.navbar.expanded {
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
} */

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
}

/* Cards */
.card-listing{
    border: none;
    margin-bottom: 2rem;
}

.card-img-overlay{
    background-color: #ffffff;
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0px;
}
.card-text{
    font-weight: 400;
}
.card img{
    height: 20rem;
}

/* Show Page */
.btns{
    display: flex;
}

/* Map Styling */
.circle-marker {
    background: transparent;
}

.circle-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;   /* makes the image circular */
    object-fit: cover;    /* crop properly */
    border: 3px solid white; /* optional border */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3); /* optional shadow */
}